{% extends 'base.html.twig' %}

{% block title %}AboutUs|{{ parent() }}{% endblock %}



{% block body %}
    <h1>about us</h1>
    <p>Sed ut arcu cursus, aliquam ex vel, tincidunt est.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Nulla facilisi. Fusce quis velit luctus, commodo nibh eu, congue lacus.
        Pellentesque iaculis lorem non libero tincidunt lacinia.
        Pellentesque rhoncus, mauris quis vehicula lobortis, leo metus convallis est, id maximus nulla est tristique ipsum.
        Donec sed augue quam.
        Aliquam mattis volutpat libero, nec tincidunt metus.
        Donec at dui turpis. Donec venenatis ante eget leo facilisis dapibus.</p>
{% endblock %}

